@page
@model CalculateAreaFigure.Pages.IndexModel
@{
    Layout = "_Layout";
}
<div class="container mt-3 text-center">
    <h1 class="fs-3">Calculator figure area</h1>
    <div class="row">
        <a role="button" class="btn btn-outline-dark" asp-page="/TriangleArea">Calculate triangle area</a>
    </div>
    <div class="row">
        <a role="button" class="btn btn-outline-dark mt-3" asp-page="/CircleArea">Calculate circle area</a>
    </div>
</div>

